<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
            android:name="android.permission.ACCESS_NETWORK_STATE"
            tools:node="remove" />

    <application
            android:name=".CofiApp"
            android:allowBackup="true"
            android:fullBackupOnly="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:localeConfig="@xml/locales_config"
            android:supportsRtl="true"
            android:enableOnBackInvokedCallback="true"
            android:theme="@style/Theme.Cofi">
        <profileable
                android:enabled="${profileable}"
                android:shell="${profileable}"
                tools:targetApi="q" />
        <activity
                android:name=".MainActivity"
                android:configChanges="keyboard|keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation|uiMode"
                android:exported="true"
                android:launchMode="singleInstance"
                android:supportsPictureInPicture="true"
                android:resizeableActivity="true"
                android:theme="@style/Theme.Cofi"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https"/>
                <data android:scheme="http"/>
                <data android:host="rozpierog.github.io"/>
                <data android:pathPrefix="/"/>
                <data android:pathPattern=".*"/>
            </intent-filter>
            <meta-data
                    android:name="default-url"
                    android:value="https://rozpierog.github.io/cofi" />
        </activity>
    </application>
</manifest>
