<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.omelan.cofi">
    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
            android:name="android.permission.ACCESS_NETWORK_STATE"
            tools:node="remove" />

    <application
            android:allowBackup="true"
            android:fullBackupOnly="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Cofi">
        <activity
                android:name=".MainActivity"
                android:configChanges="keyboard|keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation|uiMode"
                android:label="@string/app_name"
                android:launchMode="singleInstance"
                android:supportsPictureInPicture="true"
                android:theme="@style/Theme.Cofi"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                        android:host="cofi.omelan.com"
                        android:pathPattern=".*"
                        android:pathPrefix="/"
                        android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>