name: Android CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.19
      uses: actions/setup-java@v1
      with:
        java-version: 1.19
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Create empty keystore
      run: echo "storeFile=/" > keystore.properties
    - name: KTLint
      run: ./gradlew ktlintCheck
    - name: Unit Tests
      run: ./gradlew testFullDebugUnitTest
#     - name: Android Instrumantation Tests
#       run: ./gradlew connectedFullDebugAndroidTest
    - name: Build with Gradle
      run: ./gradlew app:licenseFullDebug app:assembleFullDebug app:licensePlayStoreDebug app:assemblePlayStoreDebug wearOS:licenseDebug wearOS:assembleDebug
    - uses: actions/upload-artifact@v3
      with:
        name: app-full-debug.apk
        path: ./app/build/outputs/apk/full/debug/app-full-release.apk
    - uses: actions/upload-artifact@v3
      with:
        name: app-playStore-debug.apk
        path: ./app/build/outputs/apk/playStore/debug/app-playStore-release.apk
    - uses: actions/upload-artifact@v3
      with:
        name: wearOS-debug.apk
        path: ./wearOS/build/outputs/apk/debug/wearOS-release.apk
